<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<meta charset="ISO-8859-1">
<title>Formulario de usuario</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link th:href="@{css/estilos.css}" rel="stylesheet" />
</head>
<body>
	<!--Comienza header-->
	<header>
		<img class="logo" th:src="@{/img/logo-header.png}" alt="logo"
			height="75" width="550">
		<nav>
			<ul class="nav__links">
				<li><a href="#">Tripulante</a></li>
				<li><a href="#">Usuario</a></li>
				<li><a href="#">Vehiculo</a></li>
			</ul>
		</nav>
		<ul class="navbar-nav mt-2 mt-lg-0">
			<li class="nav-item"><a class="btn btn-outline-dark" href="#"
				th:href="@{/logout}"> <span
					th:text="${#authentication.getPrincipal().getUsername()}"> </span>
					- <span> Salir </span><span class="float-right"> <i
						class="fas fa-sign-out-alt"></i></span></a></li>
		</ul>
	</header>
	<!--Termina header-->
	
	<!--Comienza cuerpo de body-->
	<div class="container">
		<br>
		<h1>GESTION DE USUARIOS</h1>
		<br>
		<form th:object=${usuarioD} th:action="@{/saveUsuario}" method="post">
			<div class="form-group row">
				<label for="nombre" class="col-sm-3 col-form-label">Ingrese
					su Usuario</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" id="nombre"
						placeholder="Ingrese su usuario o correo electrónico"
						th:field="*{nombreUsuario}" required>
				</div>
			</div>
			<div class="form-group row">
				<label for="contraseña" class="col-sm-3 col-form-label">Contraseña</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" id="contraseña"
						placeholder="Ingrese su contraseña" th:field="*{password}"
						required>
				</div>
			</div>
			<div class="form-group row">
				<label for="nombreReal" class="col-sm-3 col-form-label">Nombre
				</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" id="nombreReal"
						placeholder="Ingrese su nombre" th:field="*{nombreReal}" required>
				</div>
			</div>
			<div class="form-group row">
				<label for="apellidoReal" class="col-sm-3 col-form-label">Apellido
				</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" id="apellidoReal"
						placeholder="Ingrese su apellido" th:field="*{apellidoReal}"
						required>
				</div>
			</div>
			<fieldset class="form-group">
				<div class="row">
					<legend class="col-form-label col-sm-3 pt-0">Tipo de
						usuario</legend>
					<div class="col-sm-9">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="tipoUsuario"
								id="Bd" value="Bd"> <label class="form-check-label"
								for="Bd">BD</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="tipoUsuario"
								id="Consultor" value="Consultor"> <label
								class="form-check-label" for="Consultor">Consultor</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="tipoUsuario"
								id="Registrador" value="Registrador"> <label
								class="form-check-label" for="Registrador">Registrador</label>
						</div>
					</div>
				</div>
			</fieldset>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="gridCheck"
						required> <label class="form-check-label" for="gridCheck">
						¿Aceptas los terminos y condiciones? </label>
				</div>
			</div>
			<button type="submit" value="Guardar" class="btn btn-primary">Agregar
				Usuario</button>
		</form>
	</div>
	<!--Termina contenido de body-->
	
	<!--Comienza footer-->

	<!--Termina footer-->
	
	<!--JS Bootstrap-->
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
</body>
</html>
