<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<meta charset="ISO-8859-1">
<title>Formulario de Vehiculo</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link th:href="@{/css/estilos.css}" rel="stylesheet" />
</head>
<body>
	<!--Comienza header-->
	<header>
		<img class="logo" th:src="@{/img/logo-header.png}" alt="logo"
			height="75" width="550">
		
		<a class="cta" href="#" th:href="@{/logout}"><button>
				<span class="userbutton" th:text=${#authentication.getPrincipal().getUsername()}></span>
				- Salir
			</button></a>
	</header>
	<!--Termina header-->
	
	<!--Comienza cuerpo de body-->
	<div class="containerf1">
		<br>
		<h1>GESTION DE VEHICULOS</h1>
		<form th:object=${vehiculoD} th:action="@{/saveVehiculo}"
			method="post">
			<input type="hidden" id="identificadorUsuarioHiddenInput" th:field="*{IdVehiculo}"/>
			<div class="form-group">
				<label for="inputTitular">Titular</label> <input type="text"
					class="form-control" id="inputEmail4"
					placeholder="Ingrese nombre del titular del vehiculo"
					th:field="*{titular}" required>
			</div>
			<div class="form-group">
				<label for="inputPatente">Patente</label> <input type="text"
					class="form-control" id="inputPatente"
					placeholder="Ingrese la patente del vehiculo" th:field="*{patente}"
					required>
			</div>
			<div class="form-group">
				<label for="inputColor">Color</label> <input type="text"
					class="form-control" id="inputColor"
					placeholder="Ingrese color del vehiculo" th:field="*{color}"
					required>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-6">
					<label for="inputMarca">Marca</label> <input type="text"
						class="form-control" id="inputMarca"
						placeholder="Ingrese marca del vehiculo" th:field="*{marca}"
						required>
				</div>
				<div class="form-group col-sm-4">
					<label for="inputModelo">Modelo</label> <input type="text"
						class="form-control" id="inputMarca"
						placeholder="Ingrese modelo del vehiculo" th:field="*{modelo}"
						required>
				</div>
				<div class="form-group col-sm-2">
					<label for="inputTipo">Tipo</label> <input type="text"
						class="form-control" id="inputTipo" placeholder="Tipo de vehiculo"
						th:field="*{tipo}" required>
				</div>
			</div>
			<div class="form-group">
				<label for="inputNumerodeChasis">Numero de Chasis</label> <input
					type="text" class="form-control" id="inputNumerodeChasis"
					placeholder="Ingrese cod. de serie de chasis"
					th:field="*{numeroChasis}" required>
			</div>
			<div class="form-group">
				<label for="inputNumerodeMotor">Numero de Motor</label> <input
					type="text" class="form-control" id="inputNumerodeMotor"
					placeholder="Ingresa cod. de serie de motor"
					th:field="*{numeroMotor}" required>
			</div>
			<br>
			<button type="submit" value="Guardar" class="button_1">Guardar</button>
			<br>
			<br>
			<br>
		</form>
	</div>
	<!--Termina contenido de body-->
	
	<!--Comienza footer-->
    <footer class="page-footer font-small mdb-color darken-3 pt-4" style="background-color: #131418;">
        <div class="container" style="background-color: #131418;">
          <div class="row d-flex justify-content-center" style="background-color: #131418;">
            <div class="col-md-6" style="background-color: #131418;">
              <!-- Video -->
              <div class="embed-responsive embed-responsive-16by9 mb-4" style="background-color: #131418;">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AUUI9v6xgDc"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="background-color: #131418;">© 2020 Grupo 8:
          <a> Avila, Alvaro - Marañón, Mateo - Ruiz, Matías</a>
        </div>
        <!-- Copyright -->
      </footer>
    <!-- Termina footer -->
	
	<!-- JS Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>
</html>