<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
<meta charset="ISO-8859-1">
<title>Formulario de Tripulante</title>
<!-- Linkeo a CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<br>
		<h1>GESTION DE TRIPULANTES</h1>
		<form th:object=${tripulanteD} th:action="@{/saveTripulante}"
			method="post">
			<div class="form-group row">
				<label for="inputEmail4">Documento</label> <input type="number"
					class="form-control" id="inputEmail4"
					placeholder="Ingrese Numero de Documento" th:field="*{documento}"
					required>
			</div>
			<div class="form-group row">
				<label for="inputApellido">Apellido</label> <input type="text"
					class="form-control" id="inputApellido"
					placeholder="Ingrese Apellido" th:field="*{apellido}" required>
			</div>

			<div class="form-group row">
				<label for="inputNombre">Nombre</label> <input type="text"
					class="form-control" id="inputNombre" placeholder="Ingrese Nombres"
					th:field="*{nombres}" required>
			</div>
			<div class="form-group row">
				<label for="inputNacionalidad">Nacionalidad</label> <input
					type="text" class="form-control" id="inputNacionalidad"
					placeholder="Ingrese Nacionalidad" th:field="*{nacionalidad}"
					required>
			</div>
			<div class="form-group">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="gridCheck"
						required> <label class="form-check-label" for="gridCheck">
						¿Aceptas los términos y condiciones? </label>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Registrarse</button>
		</form>
		<br>
	</div>