<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrador</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/estilos.css">
</head>

<body>
    <!--Comienza header-->
    <header>
        <img class="logo" src="../static/img/logo-header.png" alt="logo" height="75" width="550">
        <nav>
            <ul class="nav__links">
                <li><a href="#">Tripulante</a></li>
                <li><a href="#">Usuario</a></li>
                <li><a href="#">Vehiculo</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>Contacto</button></a>
    </header>
    <!--Termina header-->
    <!--Contenido de body-->
    <div style="background:#24252A !important" class="jumbotron">
        <h1 class="display-4">BIENVENIDO REGISTRADOR</h1>
        <p class="lead">A través de esta plataforma usted podrá registrar un vehículo, la localidad, pasajeros y el puesto de control en el que se encuentra.</p>
        <br>
        
        <hr class="my-4">
        <p class="lead">Seleccione una de las dos opciones y la pagina lo redireccionará a sus respectivos formularios.</p>    
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Registre</a>
            <a class="btn btn-success btn-lg" href="#" role="button">Busque</a>
        </p>
        <p>Le pedimos porfavor que respete las normas de bio-seguridad que le sean asignadas. Entre todos vamos a parar al bicho.</p>
      </div>
    <!--Termina contenido de body-->

    <!--Comienza footer-->

    <!--Termina footer-->

    <!-- JS Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>