<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registro Tracking</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/estilos.css}">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
</head>

<body>
	<!--Comienza header-->
	<header>
		<img class="logo" th:src="@{/img/logo-header.png}"
			th:href="@{/RegistroTracking}" alt="logo" height="75" width="550">

		<a class="cta" href="#" th:href="@{/logout}"><button>
				<span class="userbutton"
					th:text=${#authentication.getPrincipal().getUsername()}></span> -
				Salir
			</button></a>
	</header>
	<!--Termina header-->

	<!--Contenido de body-->
	<div class="container_rt">
		<h1>REGISTRO TRACKING</h1>
		<br> <br> <a class="button_1" th:href="@{/nuevoTripulante}">
			Agregar Tripulante </a> <br> <br> <br>
		<button class="button_1" type="button" data-toggle="modal"
			data-target="#modalBuscarTripulante">Buscar Tripulante</button>
		<!--  <a type="button" class="button_1" data-toggle="modal"data-target="#modalBuscarTripulante" href="#"> Buscar Tripulante </a>-->
		<br> <br> <br> <a class="button_1"
			th:href="@{/nuevoVehiculo}" href="#"> Agregar Vehiculo </a> <br>
		<br> <br>
		<button class="button_1" type="button" data-toggle="modal"
			data-target="#modalBuscarVehiculo">Buscar Vehiculo</button>
		<!--<a class="button_1" th:href="@{/buscarTripulante}" href="#"> Buscar Vehiculo </a>-->
		<br> <br>



		<!--<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalBuscarVehiculo">Buscar
            Vehiculo</button>
        <br>
        <a th:href="@{/nuevoTripulante}" class="btn btn-primary"> Agregar Tripulante </a>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalBuscarTripulante">Buscar
            Tripulante</button>-->
		<br>
		

		<div class="card">
			<div class="card-body">
				<h5 class="p-3 mb-2 bg-dark text-white card-title">TRIPULANTE/S</h5>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="thead-light">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Documento</th>
								<th scope="col">Apellido</th>
								<th scope="col">Nombres</th>
								<th scope="col">Nacionalidad</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="tripulante : ${tripulantes}">
								<td th:text="${tripulante.idTripulante}"></td>
								<td th:text="${tripulante.documento}"></td>
								<td th:text="${tripulante.apellido}"></td>
								<td th:text="${tripulante.nombres}"></td>
								<td th:text="${tripulante.nacionalidad}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="p-3 mb-2 bg-dark text-white card-title">VEHICULO</h5>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="thead-light">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Patente</th>
								<th scope="col">Color</th>
								<th scope="col">Titular</th>
								<th scope="col">Marca</th>
								<th scope="col">Modelo</th>
								<th scope="col">Tipo</th>
								<th scope="col">NumeroChasis</th>
								<th scope="col">NumeroMotor</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="vehiculo : ${vehiculos}">
								<td th:text="${vehiculo.idVehiculo}"></td>
								<td th:text="${vehiculo.patente}"></td>
								<td th:text="${vehiculo.color}"></td>
								<td th:text="${vehiculo.titular}"></td>
								<td th:text="${vehiculo.marca}"></td>
								<td th:text="${vehiculo.modelo}"></td>
								<td th:text="${vehiculo.tipo}"></td>
								<td th:text="${vehiculo.numeroChasis}"></td>
								<td th:text="${vehiculo.numeroMotor}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!--<div class="card">
			<div class="card-body">
				<h5 class="p-3 mb-2 bg-dark text-white card-title">VEHICULO</h5>
				<form id="formRegistro2" th:object="${vehiculo}">
					<div class="form-row">
						<div class="col-md-6 form-group">
							<label class="font-weight-bold">Patente:</label>
							<p class=" p-2 mb-2 bg-light text-dark font-weight-normal">
								<label th:text="${vehiculo.patente}"></label>
							</p>
						</div>
						<div class="col-md-6 form-group">
							<label class="font-weight-bold">Marca:</label>
							<p class=" p-2 mb-2 bg-light text-dark font-weight-normal">
								<label th:text="${vehiculo.marca}"></label>
							</p>
						</div>
						<div class="col-md-6 form-group">
							<label class="font-weight-bold">Modelo:</label>
							<p class=" p-2 mb-2 bg-light text-dark font-weight-normal">
								<label th:text="${vehiculo.modelo}"></label>
							</p>
						</div>
						<div class="col-md-6 form-group">
							<label class="font-weight-bold">Tipo:</label>
							<p class=" p-2 mb-2 bg-light text-dark font-weight-normal">
								<label th:text="${vehiculo.tipo}"></label>
							</p>
						</div>
						<div class="col-md-4 form-group">
							<label class="font-weight-bold">Número de chasis: </label>
							<p class=" p-2 mb-2 bg-light text-dark font-weight-normal">
								<label th:text="${vehiculo.numeroChasis}"></label>
							</p>
						</div>
						<div class="col-md-4 form-group">
							<label class="font-weight-bold">Número de motor: </label>
							<p class=" p-2 mb-2 bg-light text-dark font-weight-normal">
								<label th:text="${vehiculo.numeroMotor}"></label>
							</p>
						</div>
						<div class="col-md-4 form-group">
							<label class="font-weight-bold">Color: </label>
							<p class=" p-2 mb-2 bg-light text-dark font-weight-normal">
								<label th:text="${vehiculo.color}"></label>
							</p>
						</div>
					</div>
				</form>
			</div>
		</div>-->
		<br> <br>
		<form id="formRegistro" th:object="${registroTrackingD}"
			th:action="@{/agregarRegistro}" method="post">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<div class="card">
							<div class="card-body">
								<h5 class="p-3 mb-2 bg-dark text-white card-title">DETALLES</h5>
								<label for="detalle" class="font-weight-bold">Ingrese
									detalles del lugar:</label>
								<textarea class="form-control" id="detalle" rows="3"
									placeholder="Ingresar detalles del lugar"
									th:field="${RegistroTrackingD.detalleLugarRegistro}"> </textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<div class="card">
							<div class="card-body">
								<h5 class="p-3 mb-2 bg-dark text-white card-title">LOCALIDAD</h5>
								<label class="font-weight-bold">Ingrese la localidad:</label> <select
									class="form-control"
									th:field="${RegistroTrackingD.localidad.idLocalidad}">
									<option th:each="localidad:${localidades}"
										th:value="${localidad.idLocalidad}"
										th:text="${localidad.nombre}" style="background-color: white;"></option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--<button type="submit" class="btn btn-primary">Agregar Registro</button>-->
			<br> <br>
			<button class="button_1" type="submit">Agregar Registro</button>
		</form>
		<br>
		<div class="modal fade" id="modalBuscarTripulante" tabindex="-1"
			role="dialog" aria-labelledby="buscarTripulanteModal"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<form id="formTripulante" th:object="${tripulanteD}"
						th:action="@{/buscarTripulante}" method="post">
						<div class="modal-header">
							<h5 class="modal-title" id="buscarTripulanteModal">Buscar
								Tripulante</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="documento">Documento:</label> <input
									class="form-control" id="documento"
									th:field="${tripulanteD.documento}"
									placeholder="Ingresar documento de Tripulante"></input>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<input type="submit" class="btn btn-primary"
								value="Buscar Tripulante">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modalBuscarVehiculo" tabindex="-1"
			role="dialog" aria-labelledby="buscarVehiculoModal"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<form id="formVehiculo" th:object="${vehiculoD}"
						th:action="@{/buscarVehiculo}" method="post">
						<div class="modal-header">
							<h5 class="modal-title" id="buscarVehiculoModal">Buscar
								Vehiculo</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="patente">Patente:</label> <input
									class="form-control" id="patente"
									th:field="${vehiculoD.patente}"
									placeholder="Ingresar patente de Vehiculo"></input>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<input type="submit" class="btn btn-primary"
								value="Buscar Vehiculo">
						</div>
					</form>
				</div>
			</div>
			<div class="alert alert-danger"
			th:if="${formTripulanteErrorMessage}"
			th:text="${formTripulanteErrorMessage}">Name Error</div>
			<div class="alert-danger text-center"
				th:if="${formVehiculoErrorMessage}"
				th:text="${formVehiculoErrorMessage}">Name Error</div>
		</div>
		<br> <br>
	</div>

	<!--Termina contenido de body-->

	<!--Comienza footer-->
	<footer class="page-footer font-small mdb-color darken-3 pt-4"
		style="background-color: #131418;">
		<div class="container" style="background-color: #131418;">
			<div class="row d-flex justify-content-center"
				style="background-color: #131418;">
				<div class="col-md-6" style="background-color: #131418;">
					<!-- Video -->
					<div class="embed-responsive embed-responsive-16by9 mb-4"
						style="background-color: #131418;">
						<iframe class="embed-responsive-item"
							src="https://www.youtube.com/embed/AUUI9v6xgDc" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3"
			style="background-color: #131418;">
			© 2020 Grupo 8: <a> Avila, Alvaro - Marañón, Mateo - Ruiz, Matías</a>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Termina footer -->

	<!-- JS Bootstrap-->
</body>

</html>