<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>FORMULARIO - SEMANA 1 - GRUPO 8</title>
    <!-- Linkeo a CSS -->
    <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="container">
    <h1>GESTION DE TRIPULANTES</h1>
    <form>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="inputNombre">Nombre</label>
                <input type="text" class="form-control" id="inputNombre">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputApellido">Apellido</label>
                <input type="text" class="form-control" id="inputApellido">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDNI">Documento</label>
            <input type="number" class="form-control" id="inputDNI" placeholder="Ingrese aquí su DNI">
        </div>
        <div class="form-group">
            <label for="inputNacionalidad">Nacionalidad</label>
            <select id="inputState" class="form-control">
                <option selected>Elige una nacionalidad...</option>
                <option value="AR">selected>Argentina</option>
                <option value="BO">Bolivia</option>
                <option value="BR">Brasil</option>
                <option value="CL">Chile</option>
                <option value="CO">Colombia</option>
                <option value="EC">Ecuador</option>
                <option value="UY">Uruguay</option>
            </select>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    ¿Los datos son correctos?
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Regístrese</button>
    </form>
</body>

</html>