<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<meta charset="ISO-8859-1">
<title>Lista de Vehiculos</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link th:href="@{css/estilos.css}" rel="stylesheet" />
</head>
<body>
	<!--Comienza header-->
	<header>
		<img class="logo"th:src="@{/img/logo-header.png}" alt="logo"
			height="75" width="550">
		<nav>
			<ul class="nav__links">
				<li><a href="#">Tripulante</a></li>
				<li><a href="#">Usuario</a></li>
				<li><a href="#">Vehiculo</a></li>
			</ul>
		</nav>
		<ul class="navbar-nav mt-2 mt-lg-0">
			<li class="nav-item"><a class="btn btn-outline-dark" href="#"
				th:href="@{/logout}"> <span
					th:text="${#authentication.getPrincipal().getUsername()}"> </span>
					- <span> Salir </span><span class="float-right"> <i
						class="fas fa-sign-out-alt"></i></span></a></li>
		</ul>
	</header>
	<!--Termina header-->
	<!--Comienza cuerpo de body-->
	<div class="container">
	<br>
		<h1>LISTADO DE VEHICULOS</h1>
		<br>
		<a th:href="@{/nuevoVehiculo}" class="btn btn-primary"> Agregar nuevo </a>
		<br>
		<br>
		<div class="table-responsive">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Patente</th>
			      <th scope="col">Color</th>
			      <th scope="col">Titular</th>
			      <th scope="col">Marca</th>
			      <th scope="col">Modelo</th>
			      <th scope="col">Tipo</th>
			      <th scope="col">Numero de Chasis</th>
			      <th scope="col">Numero de Motor</th>
			      <th scope="col">OPCIONES</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each = "vehiculo:${vehiculos}" >
			      <td th:text = "${vehiculo.idVehiculo}"></td>
			      <td th:text = "${vehiculo.patente}"></td>
			      <td th:text = "${vehiculo.color}"></td>
			      <td th:text = "${vehiculo.titular}"></td>
			      <td th:text = "${vehiculo.marca}"></td>
			      <td th:text = "${vehiculo.modelo}"></td>
			      <td th:text = "${vehiculo.tipo}"></td>
			      <td th:text = "${vehiculo.numeroChasis}"></td>
			      <td th:text = "${vehiculo.numeroMotor}"></td>
			      <td>
			      	<a th:href="@{/editarVehiculo/}+${vehiculo.idVehiculo}" class="btn btn-warning">Modificar</a>
			      	<a th:onclick="eliminarv([[${vehiculo.idVehiculo}]])" class="btn btn-danger">Eliminar</a>
			      </td>
			    </tr>
			  </tbody>
			</table>
		</div>	
	</div>
	<!--Termina contenido de body-->
	
	<!--Comienza footer-->
    <footer class="page-footer font-small mdb-color darken-3 pt-4" style="background-color: #131418;">
        <div class="container" style="background-color: #131418;">
          <div class="row d-flex justify-content-center" style="background-color: #131418;">
            <div class="col-md-6" style="background-color: #131418;">
              <!-- Video -->
              <div class="embed-responsive embed-responsive-16by9 mb-4" style="background-color: #131418;">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AUUI9v6xgDc"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="background-color: #131418;">© 2020 Grupo 8:
          <a> Avila, Alvaro - Marañón, Mateo - Ruiz, Matías</a>
        </div>
        <!-- Copyright -->
      
      </footer>
    <!-- Termina footer -->
	
	<!--JS Bootstrap-->
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/funciones.js"></script>
</body>
</html> 