<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<meta charset="ISO-8859-1">
<title>Lista de Usuarios</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link th:href="@{/css/estilos.css}" rel="stylesheet" />
</head>
<body>
	<!--Comienza header-->
	<header>
		<img class="logo" th:src="@{/img/logo-header.png}" alt="logo"
			height="75" width="550">
		<nav>
			<ul class="nav__links">
				<li><a href="#">Tripulante</a></li>
				<li><a href="#">Usuario</a></li>
				<li><a href="#">Vehiculo</a></li>
			</ul>
		</nav>
		<a class="cta" href="#" th:href="@{/logout}"><button>
				<span th:text=${#authentication.getPrincipal().getUsername()}></span>
				- Salir
			</button></a>
	</header>
	<!--Termina header-->
	<!--Comienza cuerpo de body-->
	<div class="containerf">
		<br>
		<h1>LISTADO DE USUARIOS</h1>
		<br>
		<br> 
		<a class="button_1"
			th:href="@{/nuevoUsuario}" href="#"> Agregar nuevo </a>
		<!--<a th:href="@{/nuevoUsuario}" class="btn btn-primary">
			Agregar nuevo </a>-->
		<br> <br>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Nombre de Usuario</th>
						<th scope="col">Nombre Real</th>
						<th scope="col">Apellido Real</th>
						<th scope="col">Tipo de Usuario</th>
						<th scope="col">OPCIONES</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario:${usuarios}">
						<td th:text="${usuario.idUsuario}"></td>
						<td th:text="${usuario.nombreUsuario}"></td>
						<td th:text="${usuario.nombreReal}"></td>
						<td th:text="${usuario.apellidoReal}"></td>
						<td th:text="${usuario.tipoUsuario}"></td>
						<td>
						<a th:href="@{/editarUsuario/}+${usuario.idUsuario}" class="btn btn-warning">Modificar</a>
						<a
							th:onclick="eliminaru([[${usuario.idUsuario}]])"
							class="btn btn-danger">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
	</div>
	<!--Termina contenido de body-->
	
	<!--Comienza footer-->
    <footer class="page-footer font-small mdb-color darken-3 pt-4" style="background-color: #131418;">
        <div class="container" style="background-color: #131418;">
          <div class="row d-flex justify-content-center" style="background-color: #131418;">
            <div class="col-md-6" style="background-color: #131418;">
              <!-- Video -->
              <div class="embed-responsive embed-responsive-16by9 mb-4" style="background-color: #131418;">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AUUI9v6xgDc"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="background-color: #131418;">© 2020 Grupo 8:
          <a> Avila, Alvaro - Marañón, Mateo - Ruiz, Matías</a>
        </div>
        <!-- Copyright -->
      
      </footer>
    <!-- Termina footer -->
	
	<!--JS Bootstrap-->
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/funciones.js"></script>
</body>
</html>
